// -------------------------------------------------------------
// Common rules
// -------------------------------------------------------------

body {
    min-width: 30rem;
}

// -------------------------------------------------------------
// Common elements 
// -------------------------------------------------------------
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-top: 15rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


// -------------------------------------------------------------
// Magins and padding clases
// -------------------------------------------------------------
@for $i from 1 to 21 {
    .mt-#{$i} {
        margin-top: #{$i}+'%';
    }

    .mb-#{$i} {
        margin-bottom: #{$i}+'%';
    }

    .ml-#{$i} {
        margin-left: #{$i}+'%';
    }

    .mr-#{$i} {
        margin-right: #{$i}+'%';
    }

    .pt-#{$i} {
        margin-top: #{$i}+'%';
    }

    .pb-#{$i} {
        margin-bottom: #{$i}+'%';
    }

    .pl-#{$i} {
        margin-left: #{$i}+'%';
    }

    .pr-#{$i} {
        margin-right: #{$i}+'%';
    }
}

// Media querys
