// -------------------------------------------------------------
// Common rules
// -------------------------------------------------------------

body {
    min-width: 30rem;
}

// -------------------------------------------------------------
// Common elements 
// -------------------------------------------------------------
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-top: 15rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}




// -------------------------------------------------------------
// Helpers
// -------------------------------------------------------------
@for $i from 0 to 21 {

    .m-#{$i} {
        margin: #{$i}+'%';
    }

    .mv-#{$i} {
        margin: #{$i}+'%'0;
    }

    .mw-#{$i} {
        margin: 0 #{$i}+'%';
    }

    .mt-#{$i} {
        margin-top: #{$i}+'%';
    }

    .mb-#{$i} {
        margin-bottom: #{$i}+'%';
    }

    .ml-#{$i} {
        margin-left: #{$i}+'%';
    }

    .mr-#{$i} {
        margin-right: #{$i}+'%';
    }

    .p-#{$i} {
        padding: #{$i}+'%';
    }

    .pv-#{$i} {
        padding: #{$i}+'%'0;
    }

    .pw-#{$i} {
        padding: 0 #{$i}+'%';
    }

    .pt-#{$i} {
        padding-top: #{$i}+'%';
    }

    .pb-#{$i} {
        padding-bottom: #{$i}+'%';
    }

    .pl-#{$i} {
        padding-left: #{$i}+'%';
    }

    .pr-#{$i} {
        padding-right: #{$i}+'%';
    }
}

.bold {
    font-weight: bold;
}

.inline-flex-w100 {
    display: inline-flex;
    width: 100%;
}

.center-flex-w {
    align-items: center;
    justify-content: center;
}

// Media querys
@media screen and (max-width: 1240) {
    nav {
        .brand-logo {
            width: 100%;
            text-align: center;
        }
    }
}
